@import url('../../App.module.less');
@import url('../usefulElements/button/button.module.less');

.loginPage {
   padding-top: 35px;
   padding-bottom: 80px;

   .loginPage__password {
      display: flex;
      position: relative;

      .loginPage__visiblePassword {
         .positionInputIcon;
      }
   }

   .buttonShellCheckin {
      margin: 40px auto;
      width: fit-content;
      padding: 10px;
   }
}