@import url('/src/App.module.less');

.nameAndLogo {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 20px;
   align-items: center;
   max-width: fit-content;
   background-color: transparent;
   color: @colortext;

   &:hover,
   &:active,
   &:focus {
      text-decoration: none;
      color: @colortext;
      outline: none;
   }

   .nameAndLogo__logo_size_small {
      width: 50px;
   }

   .nameAndLogo__logo_size_big {
      width: 100px;
   }

   .nameAndLogo__name_size_big {
      font: 600 40px @generalfont;
   }

   .nameAndLogo__name_size_small {
      font: 600 20px @generalfont;
   }
}