@import url('/src/App.module.less');

.nameAndLogo {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 20px;
   align-items: center;
   max-width: fit-content;
   background-color: transparent;
   color: @colortext;
}

.nameAndLogo:hover,
.nameAndLogo:active,
.nameAndLogo:focus {
   text-decoration: none;
   color: @colortext;
   outline: none;
}

.smallLogo {
   width: 50px;
}

.bigLogo {
   width: 100px;
}

.bigName {
   font: 600 40px @generalfont;
}

.smallName {
   font: 600 20px @generalfont;
}