@import url('/src/App.module.less');

.loginbarButton {
   font: 600 18px @generalfont;
   cursor: pointer;
   color: @colortext;
   box-sizing: border-box;
   border: 0;
   border-radius: 8px;
   padding: 10px 20px;
   outline: none;
   text-decoration: none;
}

.loginbarButton:hover {
   background: #f895ad;
   text-decoration: none;
   color: @colortext;
}

.loginbarButton:active {
   background: @detailsBackgroundcolorOne;
   box-shadow: 0 3px @shadowcolor inset;
   text-decoration: none;
   color: @colortext;
   outline: none;
}

.loginbarButton:focus {
   text-decoration: none;
   color: @colortext;
   outline: none;
}

.lightButton {
   color: @detailsBackgroundcolorTwo;
   background-color: @detailsBackgroundcolorThree;
   box-shadow: 0 -2px @shadowcolor inset;
}

.lightButton:focus {
   color: @detailsBackgroundcolorTwo;
}

.richButton {
   background-color: @detailsBackgroundcolorOne;
   box-shadow: 0 -2px @shadowcolor inset;
}