@import url("/src/App.module.less");
@import url('../usefulElements/form/form.module.less');
@import url('../usefulElements/button/button.module.less');

.roomPage {
   display: flex;
   padding: 100px 30px;
}

.buttonShell {
   margin: auto;
   width: fit-content;
   padding: 10px;
}