@import url("/src/App.module.less");
@import url("../usefulElements/button/button.module.less");
@import url("../usefulElements/usefulElements__notificationTemplate/usefulElements__notificationTemplate.module.less");
@import url("../usefulElements/usefulElements__form/usefulElements__form.module.less");

.personalPage {
   padding: 30px 50px 50px;

   .personalPage__headline {
      margin: 0 auto;
      margin-bottom: 80px;
      width: fit-content;
   }

   .personalPage__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin: 0 auto;
      padding: 30px 40px;
      width: fit-content;
      border-radius: 10px;
      background-color: @detailsBackgroundcolorThree;
      color: @detailsBackgroundcolorTwo;

      .personalPage__title {
         font: 400 35px @secondaryfont;
         grid-column: span 2;
         margin: 0 auto;
         width: fit-content;
      }
   }

   .personalPage__buttonShell {
      margin: 40px auto;
      width: fit-content;
      padding: 10px;
   }
}