@import url('/src/App.module.less');

.footer {
   font: 400 20px @generalfont;
   color: @colortext;
   height: 10vh;
   padding: 5px 20px 5px;
   display: flex;
   justify-content: space-between;
   background-color: @detailsBackgroundcolorTwo;
   align-items: center;
}

.footer__year {
   border: @border;
}

.footer__contacts {
   border: @border;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
}

.footer__contacts a {
   text-decoration: none;
}

// .footer {
//    padding: 15px 0 10px 0;
//    display: flex;
//    justify-content: space-between;
//    background-color: #669e3c;
// }

// .footer div {
//    flex-basis: 300px;
//    padding: 0 15px;
// }

// .footer__project {
//    text-align: left;
// }

// .footer__year {
//    text-align: center;
// }

// .footer__contacts {
//    display: flex;
//    justify-content: space-between;
// }

// .footer__contacts a {
//    text-decoration: none;
// }