@import url('../../App.module.less');
@import url('../usefulElements/notificationTemplate/notificationTemplate.module.less');

.errorPage {
   height: 100vh - 28vh;
   padding-top: 80px;
   padding-bottom: 140px;
}

.errorText {
   display: flex;
   width: fit-content;
   margin: 40px auto;
   align-items: center;
}