@generalBackground: #063561;
@detailsBackgroundcolorOne: #ff6fa9;
@detailsBackgroundcolorTwo: #0e4675;
@detailsBackgroundcolorThree: #f4c6d0;
@colortext: #f5f4f0;
@detailsColortextone: #f4c6d0;
@detailsColortexttwo: #ff6fa9;
@shadowcolor: #f4c6d0;

@generalfont: 'Montserrat';
@secondaryfont: 'Sofia Sans Semi Condensed';
@border: solid 0px wheat;

.app {
   background-color: @generalBackground;
}